.details-container {
  background-image: url('/public/pexels-anush-1229356.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white; /* Ensure text is readable */
  min-height: 100vh; /* Ensure it covers the full viewport height */
  padding: 2em;
}

.exercise-details {
  background-color: var(--card-background);
  padding: 1em;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-top: 1em;
  text-align: center;
}

.search-form {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.search-input {
  width: 17.5%; /* Reduce width further */
  padding: 1em; /* Increase vertical size */
  margin-bottom: 0.5em; /* Add margin below for spacing */
  background-color: var(--input-background);
  border: 1px solid var(--input-border);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: box-shadow 0.3s;
}

.search-input:focus {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Enhanced shadow on focus */
}

.search-button {
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--button-hover-color) 100%);
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 0.5em; /* Add margin above for spacing */
}

.search-button:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

.suggestions {
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-top: 0.5em;
  padding: 0.5em;
}

.suggestion-item {
  padding: 0.5em;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestion-item:hover {
  background-color: var(--input-background);
}

.exercise-list {
  margin-top: 1em;
}

.exercise-item {
  background-color: var(--card-background);
  padding: 1em;
  margin: 0.5em 0;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: transform 0.2s;
}

.exercise-item:hover {
  transform: scale(1.05);
}

.exercise-item p {
  margin: 0;
}

.exercise-item a {
  margin-left: 10px;
  color: var(--primary-color);
  text-decoration: none;
}

.exercise-item a:hover {
  text-decoration: underline;
}

/* Optional: Add a semi-transparent background to list items for better readability */
.exercise-list .exercise-item {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: var(--border-radius);
  padding: 1em;
}
