/* CSS Variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #dc3545;
  --background-color: #f5f7fa;
  --font-color: #333;
  --card-background: rgba(255, 255, 255, 0.8); /* Make the card background a bit transparent */
  --border-radius: 10px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Profile Container */
#user-management {
  text-align: center;
  padding: 2em;
}

#user-management-title {
  color: white;
  font-size: 2em;
  margin-bottom: 1em;
}

/* User List */
#user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* User Card */
.user-card {
  background: rgba(245, 245, 245, 0.7); /* Make the card more transparent */
  margin: 10px;
  padding: 15px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.user-initial {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 50%;
  background: var(--primary-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-weight: bold;
}

.user-card-info {
  text-align: left;
  color: var(--font-color);
  width: 100%; /* Ensure it takes full width */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.user-card-info h2 {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.user-card-info p {
  font-size: 0.95em;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.user-card-info p i {
  margin-right: 5px;
  color: #888;
}

/* Buttons */
button {
  width: 60%; /* Reduce width */
  padding: 8px; /* Reduce padding */
  color: #fff;
  border: none;
  border-radius: 15px; /* Increase border radius for more rounded corners */
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 5px;
  font-size: 0.9em; /* Reduce font size */
  display: flex;
  justify-content: center; /* Center the button's content horizontally */
}

.edit-button {
  background-color: var(--primary-color);
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: var(--secondary-color);
}

.delete-button:hover {
  background-color: #c82333;
}

/* Error Message */
.error {
  color: red;
  font-size: 1.2em;
  margin-bottom: 1em;
}
