.report-container {
  background-image: url('/public/pexels-pixabay-163351.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white; /* Ensure text is readable */
  min-height: 100vh; /* Ensure it covers the full viewport height */
  padding: 2em;
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 100%; /* Adjusted to allow full width alignment */
  margin: 2em auto;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 1.5em; /* Increase padding for better spacing */
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow); /* Corrected typo */
  color: white;
  margin: 1.5em; /* Increase margin for better spacing */
  min-width: 200px; /* Ensure cards have a minimum width */
  max-width: 300px; /* Ensure cards have a maximum width */
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1em;
}

.report-item {
  background-color: rgba(128, 128, 128, 0.242); /* Light grey for readability */
  padding: 1em;
  margin: 0.5em 0;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for better spacing */
  color: white;
  text-align: left;
}

.report-item span {
  font-weight: bold;
  color: var(--secondary-color);
}

.error {
  color: red;
  font-size: 1.2em;
  margin-bottom: 1em;
}
