.workouts {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-image: url('/public/pexels-leonardho-1552252.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(12, 0, 0); /* Ensure text is readable */
  min-height: 100vh; /* Ensure it covers the full viewport height */
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: 1em;
}

.workouts-heading {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 1em;
}

.muscle-group-buttons {
  display: flex;
  justify-content: space-around; /* Distribute buttons evenly */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for buttons */
  border-radius: var(--border-radius);
  padding: 1em;
}

.muscle-group-button {
  background: rgba(255, 255, 255, 0.8); /* Brighten the background */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: #444;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease-in-out;
}

.muscle-group-button:hover {
  transform: scale(1.05); /* Slightly enlarge the button on hover */
  background: rgba(255, 255, 255, 1); /* Fully white background on hover */
}

.card-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Wrap items if necessary */
  margin-top: 20px;
}
.card {
  background: rgba(255, 255, 255, 0.8); /* Brighten the background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  flex: 1;
  min-width: 200px;
  max-width: 220px; /* Adjust maximum width to fit more cards in one row */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text content */
}

.card h4 {
  margin-bottom: 5px;
}

.card p {
  margin: 0;
}

.diet-card {
  margin-top: 20px; /* Add some spacing at the top */
  background: rgba(255, 255, 255, 0.8); /* Brighten the background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center; /* Center text content */
  margin-left: auto;
  margin-right: auto;
}

.diet-card ul {
  list-style-type: none;
  padding-left: 0;
}

.diet-card li {
  margin: 5px 0;
}

.completed {
  background-color: rgba(144, 238, 144, 0.5); /* Light green background */
  text-decoration: line-through; /* Strike through the text */
}

@media (max-width: 768px) {
  .muscle-group-buttons {
    flex-direction: column; /* Stack buttons vertically on small screens */
    align-items: center;
  }

  .muscle-group-button {
    width: 100%;
    margin-bottom: 1em;
  }

  .card-row {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center;
  }
}
